* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7fb;
  color: #333;
}

header {
  background-color: rgb(10, 97, 112);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1000;
  
}
header h2{
  color:#f4f7fb;
}


/* NAV for desktop */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #c99e0f;
   
}

/* HAMBURGER hidden on desktop */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}


  /* MOBILE VIEW */

@media (max-width: 768px) {

  /* SHOW HAMBURGER */
  .menu-toggle {
    display: flex;
  }

  /* HIDE NAV */
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgb(10, 97, 112);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* SHOW WHEN ACTIVE */
  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
} 

/* ANIMATION MENU */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HERO :About Us */
.about-hero {
  background: #9a7706;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.about-hero h1 {
  font-size: 42px;
  color: white;
}

.about-hero p {
  max-width: 600px;
  margin: auto;
  color: #0a0416;
}

/* GENERAL SECTIONS */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.about, .mission, .objectives {
  background: white;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

/* for,about,mission & objectives */
h2 {
  color: #0a3d62;
}

p {
  color: #555;
  line-height: 1.7;
}

/* TESTIMONIAL:Director */
.testimonial-box {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
  padding: 25px;
  background: #eafaf1;
  border-radius: 15px;
}

.testimonial-box img {
  width: 200px;
  height: 200px;
  border-radius: 15%;
  object-fit: cover;
  border: 2px solid #f5f9fb;
}

.testimonial-text h4 {
  margin-top: 10px;
  color: #0a3d62;
}

/* our objectives */
.objectives-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  list-style: none;
  padding: 0;
}

.objectives-list li {
  background: #f4f7fb;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 16px;
}

.objectives-list a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.objectives-list li:hover {
  background: #2ecc71;
  transform: translateY(-5px);
}

.objectives-list li:hover a {
  color: white;
}

.objective-details  {
  max-width: 1020px;   
  margin: 0 auto;     

}

.objective-details h3{
  color: #3d661c;
  text-align: block;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  
}
/* TEAM SECTION */
.team-section {
  text-align: center;
  padding: 80px 20px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* CARDS */
.team-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);

  opacity: 0;
  transform: translateY(40px);
}

.team-card.show {
  opacity: 1;
  transform: translateY(0);
}

.team-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team-card h4 {
  margin: 15px 0 5px;
  color: #0a3d62;
}

.team-card p {
  color: #777;
  margin-bottom: 15px;
}

.team-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* Modal for images preview when clicked */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 22px;
}


  .testimonial-box {
    flex-direction: column;
    text-align: center;
  }

/* CTA */
.cta {
  text-align: center;
  background: rgb(112, 93, 10);
  color: white;
  padding: 80px 20px;
}
.cta h2{
  color: #f4f7fb;
}

  /* FOOTER */
footer {
  background:rgb(10, 97, 112);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
footer p{
  color:#f4f7fb;
}
