* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7fb;
  color: #333;
}

header {
  background-color: rgb(10, 97, 112);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1000;
  
}

/* NAV for desktop */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #c99e0f;
   
}

/* HAMBURGER hidden on desktop */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}


  /* MOBILE DESIGN */

@media (max-width: 768px) {

  /* SHOW HAMBURGER */
  .menu-toggle {
    display: flex;
  }

  /* HIDE NAV */
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgb(10, 97, 112);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* SHOW WHEN ACTIVE */
  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
} 

/* ANIMATION  */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* SECTION HEADER */
.section-header {
  text-align: center;
  margin: 40px 0;
}

.section-header h2 {
  font-size: 2.5rem;
  color: #2c3e50;
}

.section-header p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
  color: #555;
}

/* CARDS */
.involve-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin: 40px 0;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #27ae60;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

/* BUTTON */
.btn {
  background: #6d7816;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn:hover {
  background: #91218a;
}

/* WHY SECTION */
.why-section {
  margin: 50px 0;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.why-section h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.why-section ul {
  padding-left: 20px;
}

.why-section li {
  margin-bottom: 8px;
}

/* STORY BOX */
.story-box {
  margin: 50px 0;
  background: #eafaf1;
  padding: 25px;
  border-left: 6px solid #27ae60;
  border-radius: 10px;
}

.story-box img {
  margin-top: 15px;
  border-radius: 10px;
}

/* CTA :Ready to make a diffarence*/
.cta-box {
  text-align: center;
  background:linear-gradient(135deg, #e029a0, #ac8926);
  color: white;
  padding: 40px 20px;
  border-radius: 15px;
  margin: 50px 0;
}

.cta-box h3 {
  font-size: 1.8rem;
}
.cta-box a{
  color:#120202;
  font-weight: bold;
  font-size:1.2em;
  text-decoration-line: none;
}

.cta-box .btn {
  background: white;
  color: #035333;
  margin-top: 15px;
}

.cta-box .btn:hover {
  background: #f1f1f1;
  color: #6d7816;
}

/* BUTTON :APPLICATION FORM */
#toggleButton {
  background: #d0259a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
  display: block;      
  margin-left: auto;   
  margin-right: auto;
}
div.color-h3{
  color: #2c3e50;
  justify-content: center;
  text-align: center;
}

#toggleButton:hover {
  background: #64561d;
}

/* POPUP FORM */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form-container {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.form-container h2 {
  margin-bottom: 15px;
  color: #ae5b27;
}

/* FORM INPUTS */
.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

/* Submit Button */
.btn[type="submit"]{
  background: #ae5b27;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
}
.btn[type="submit"]:hover {
  background: #91218a;
}
/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}



/* FOOTER */
footer {
  background:rgb(10, 97, 112);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}