* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(228, 236, 242);
  color: #333;
}

/* HEADER */
header {
  background-color: rgb(10, 97, 112);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* NAV */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #c99e0f;
   
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}


/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgb(10, 97, 112);
    width: 250px;
  }

  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .program {
    flex-direction: column;
  }

  .program:nth-child(even) {
    flex-direction: column;
  }
}

/* ANIMATE HAMBURGER INTO X */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu-toggle span {
  transition: all 0.3s ease;
}

/* OUR WORK */
.work {
  background: #9a7706;
  color: white;
  text-align: center;
  padding: 80px 20px;
 
}

.work h2 {
  font-size: 3rem;
  margin-top: 0;
  
}

.work p {
  max-width: 700px;
  margin: 10px auto;
  
}

/* BUTTON */
.btn {
  display: inline-block;
  margin: 20px 10px;
  padding: 12px 25px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

/* SECTION */
section {
  width: 100%;
  padding: 20px 20px;
}

/* PROGRAM */
.program {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background: white;
  padding: 20px;            
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin: 40px auto;     
  max-width: 1000px;         
  justify-content: center;
  align-items: center;
}

.program img {
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
}
.program h2{
  
  color: rgb(10, 97, 112);

}

.program strong{
  color:#9b743a
}
.program h4{
  color: #277e1b;
}

.program-content {
  flex: 1;
  max-width: 500px;
}

.program:nth-of-type(even) {
  flex-direction: row-reverse;
}


/* IMPACT SECTION */
.impact {
  background: #ffffff;
  padding: 80px 20px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
}

/* TITLE */
.impact h2 {
  font-size: 2.5rem;
  color: rgb(10, 97, 112);
  margin-bottom: 30px;
}

/* PARAGRAPHS */
.impact p {
  font-size: 1.05rem;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #444;
  text-align: left;
}


.impact p strong {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #9a7706;
}

.impact-stats div {
  background: #fff;
  padding: 3px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.impact-stats div:hover {
  transform: translateY(-6px);
}

.impact-stats h3 {
  font-size: 2rem;
  color: #2c7be5;
  margin-bottom: 10px;
}

.impact-stats p {
  color: #555;
  font-size: 0.95rem;
}


.program-story {
  background: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
  font-style: italic;
}

/* GALLERY SECTION */
.gallery {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #222;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  max-width: 1100px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

.partners {
  padding: 60px 20px;
  background: #f4f7fb;
  text-align: center;
}

.partners h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #222;
}

.partners p {
  max-width: 600px;
  margin: auto;
  color: #555;
  font-size: 1rem;
  margin-bottom: 40px;
}

/* CTA */
.cta {
  text-align: center;
  background: rgb(112, 93, 10);
  color: white;
  padding: 80px 20px;
}

/* FOOTER */
footer {
  background: rgb(10, 97, 112);
  color: white;
  text-align: center;
  padding: 80px 20px;
}


