* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
  color: #333;
}

/* HEADER */
header {
  background-color: rgb(10, 97, 112);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1000;
}

/* NAV (DESKTOP DEFAULT) */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #c99e0f;
   
}

/* HAMBURGER (HIDDEN ON DESKTOP) */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* MOBILE DESIGN*/
@media (max-width: 768px) {

  /* SHOW HAMBURGER */
  .menu-toggle {
    display: flex;
  }

  /* HIDE NAV */
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgb(10, 97, 112);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* SHOW WHEN ACTIVE */
  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
}

/* ANIMATION */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



/* HERO */
.stories-hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../images/happykids.jpg');
  color: white;
  background-size: cover;
  height: 400px;
  width: 100%;
  
}

.stories h2{
   background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  display: inline-block;  
  font-size: 24px;
  color: #0b3665;
  justify-content: center;
  display: block;          /* full width */
  text-align: center;
  margin: 10px auto;
  width: fit-content; 
}

/* STORY GRID */
.story-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.story-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.story-card:hover {
  transform: translateY(-10px);
}

.story-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.story-card h3 {
  padding: 10px;
  color: #0b3665;
}

.story-card p {
  padding: 0 10px 15px;
}

/* TESTIMONIALS */
.testimonials {
  background: #f4f6f9;
  padding: 60px 20px;
  text-align: center;
}

.testimonial-box {
  margin: 20px auto;
  max-width: 600px;
  font-style: italic;
}

.testimonials h2{
  color: #d02397;
}
.testimonials p{
  color: #0b3665;
}


/* CTA */
.cta {
 text-align: center;
  background: rgb(112, 93, 10);
  color: white;
  padding: 60px 20px;

}
.btn{
display: inline-block;
  margin: 20px 10px;
  padding: 12px 25px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

/* MOBILE */
@media(max-width: 768px) {
  .impact {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
/* FOOTER */
footer {
  background:rgb(10, 97, 112);
  color: white;
  text-align: center;
  padding: 20px;
 
}