* {
  margin: 0;padding: 0;box-sizing: border-box;}
body {
  font-family: Arial, sans-serif;background-color:  #f4f7fb;color: #333;
}

/* HEADER */
header {
  background-color: rgb(10, 97, 112);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1000;
  
}

/* Header */
.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2 {
    font-size: 2.5rem;
    color: #2c3e50;
}

.section-header p {
    color: #666;
    font-size: 1.1rem;
}


/* NAV (DESKTOP DEFAULT) */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HAMBURGER (HIDDEN ON DESKTOP) */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

nav a:hover {
  color: #c99e0f;
   
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* for mobile */
@media (max-width: 768px) {

  /* SHOW HAMBURGER */
  .menu-toggle {
    display: flex;
  }

  /* HIDE NAV */
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: rgb(10, 97, 112);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* SHOW WHEN ACTIVE */
  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
}

/* ANIMATION  */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HOME PAGE */
* Section background */
.story-section {
    background: #f9fbff;
    padding: 80px 20px;
    text-align: center;
}

/* Content container */
.story-section .hero-content {
    max-width: 18000px;
    
    padding: 40px;
    background: rgb(245, 234, 234);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08); 
}

/* Heading */
.story-section h2 {
    font-size: 32px;
    color: #c79834;
    margin-bottom: 20px;
}

/* Paragraphs */
.story-section p {
    font-size: 17px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

/* COMMUNITY SECTION */
.community {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
}

.community h2 {
  color: #2E86C1;
  margin-bottom: 30px;
}

/* IMAGE GRID */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.image-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.image-grid img:hover {
  transform: scale(1.05);
}

/* TEXT */
.community-text {
  max-width: 700px;
  margin: auto;
  font-size: 1.05rem;
  color: #555;
}

/* HERO :welcome to comech */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('../images/comech.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 700px;
}

/* Hero: welcome to COMECH */
.hero h1 {
  font-size: 2.8rem;
  color: #ddb202;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: #f4f7fb;
}

/* Btn:Join us/Donate now*/
.btn {
  display: inline-block;
  background: #af1078;
  padding: 12px 25px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #ab9175;
  transform: scale(1.05);
} 


.story-style {
  background: #fffaf5;
  padding: 90px 20px;
}

.story-style h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #2c3e50;
  margin-bottom: 40px;
  font-weight: 600;
}

.story-content {
  max-width: 750px;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.9;
  color: #444;
}

.story-content p {
  margin-bottom: 18px;
}

.story-line {
  font-style: italic;
  font-size: 1.3rem;
  color: #e67e22;
  text-align: center;
}

.highlight {
  font-weight: bold;
  text-align: center;
  color: #d35400;
}

.emphasis {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #2c3e50;
}

.closing {
  text-align: center;
  font-style: italic;
}

/* Button to continue reading */
.btn-primary {
  display: block;
  width: fit-content;
  margin: 40px auto 0;
  padding: 12px 30px;
  background:linear-gradient(135deg, #e029a0, #6e26ac);
  color: white;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #cf711f;
}

/* IMPACT */
.Impact{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background: #6d641e;
  color: white;
}

.impact-box h2 {
  font-size: 2rem;
}
.impact-box p{
    color: #f4f7fb;
}

/* ABOUT US PAGE */
/* HERO :About Us */
.about-hero {
  background: #9a7706;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.about-hero h1 {
  font-size: 42px;
  color: white;
}

.about-hero p {
  max-width: 600px;
  margin: auto;
  color: #0a0416;
}

/* GENERAL SECTIONS */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.about, .mission, .objectives {
  background: white;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

/* for,about,mission & objectives */
.about h2 {
  color: #0a3d62;
}

p {
  color: #555;
  line-height: 1.7;
}

/* TESTIMONIAL:Director */
.testimonial-box {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
  padding: 25px;
  background: #eafaf1;
  border-radius: 15px;
}

.testimonial-box img {
  width: 200px;
  height: 200px;
  border-radius: 15%;
  object-fit: cover;
  border: 2px solid #f5f9fb;
}

.testimonial-text h4 {
  margin-top: 10px;
  color: #0a3d62;
}

/* our objectives */
.objectives-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  list-style: none;
  padding: 0;
}

.objectives-list li {
  background: #f4f7fb;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 16px;
}

.objectives-list a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.objectives-list li:hover {
  background: #2ecc71;
  transform: translateY(-5px);
}

.objectives-list li:hover a {
  color: white;
}

.objective-details  {
  max-width: 1020px;   
  margin: 0 auto;     

}

.objective-details h3{
  color: #3d661c;
  text-align: block;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  
}
/* TEAM SECTION */
.team-section {
  text-align: center;
  padding: 80px 20px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* CARDS */
.team-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);

  opacity: 0;
  transform: translateY(40px);
}

.team-card.show {
  opacity: 1;
  transform: translateY(0);
}

.team-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team-card h4 {
  margin: 15px 0 5px;
  color: #0a3d62;
}

.team-card p {
  color: #777;
  margin-bottom: 15px;
}

.team-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* Modal for images preview when clicked */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 22px;
}


  .testimonial-box {
    flex-direction: column;
    text-align: center;
  }


.cta {
  text-align: center;
  background: rgb(112, 93, 10);
  color: white;
  padding: 20px 20px;
}
.cta p{
    color: white;
}

.cta .btn {
  margin: 15px 10px;
}

/* PROGRAMMES PAGE */

/* HERO */
.work {
  background-color: #ada27e;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.work h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.work p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.7;
}

/* PROGRAM CARDS */
.program {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin: 50px auto;
  max-width: 1000px;
  align-items: center;
}

.program img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  object-fit: cover;
}

.program-content {
  flex: 1;
  min-width: 280px;
}

.program-content h2 {
  color: rgb(10, 97, 112);
  margin-bottom: 10px;
}

.program-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.program-content h4 {
  margin-top: 15px;
  color: #277e1b;
}

.program-content ul {
  padding-left: 20px;
  margin-top: 5px;
}

.program-content li {
  margin-bottom: 6px;
}


.program:nth-of-type(even) {
  flex-direction: row-reverse;
}

/* STORY SECTION */
.program-story {
  background: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.program-story h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.program-story p {
  font-style: italic;
  max-width: 600px;
  margin: auto;
}

/* WHY PROGRAMMES MATTER */
.impact-Program {
  background: #ffffff;
  padding: 80px 20px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.impact-Program h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(10, 97, 112);
}

.impact-Program p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #444;
}

/* IMPACT STATS */
.impact {
  background: #f4f7fb;
  padding: 80px 20px;
  text-align: center;
}

.impact h2 {
  margin-bottom: 30px;
}

.impact-stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.impact-stat div {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.impact-stat div:hover {
  transform: translateY(-5px);
}

.impact-stat h3 {
  font-size: 2rem;
  color: #2c7be5;
}

/* GALLERY */
.gallery {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 15px;
  max-width: 1000px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* PARTNERS */
.partners {
  padding: 60px 20px;
  text-align: center;
  background: #f4f7fb;
}

.partners p {
  max-width: 600px;
  margin: auto;
}



/* MOBILE */
@media (max-width: 768px) {
  .program {
    flex-direction: column;
    text-align: center;
  }

  .program:nth-of-type(even) {
    flex-direction: column;
  }
}

/* GALLERY SECTION */
.gallery {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #222;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  max-width: 1100px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

.partners {
  padding: 60px 20px;
  background: #f4f7fb;
  text-align: center;
}

.partners h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #222;
}

.partners p {
  max-width: 600px;
  margin: auto;
  color: #555;
  font-size: 1rem;
  margin-bottom: 40px;
}


/* OUR CHILDREN'S SUCCESS */
/* HERO */
.stories-hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../images/happykids.jpg');
  color: white;
  background-size: cover;
  height: 400px;
  width: 100%;
  
}
.stories-hero p{
    color: #f4f7fb;
}
.stories h2{
   background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  display: inline-block;  
  font-size: 24px;
  color: #0b3665;
  justify-content: center;
  display: block;          /* full width */
  text-align: center;
  margin: 10px auto;
  width: fit-content; 
}

/* STORY GRID */
.story-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.story-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.story-card:hover {
  transform: translateY(-10px);
}

.story-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.story-card h3 {
  padding: 10px;
  color: #0b3665;
}

.story-card p {
  padding: 0 10px 15px;
}

/* TESTIMONIALS */
.testimonials {
  background: #f4f6f9;
  padding: 60px 20px;
  text-align: center;
}

.testimonial-box {
  margin: 20px auto;
  max-width: 600px;
  font-style: italic;
}

.testimonials h2{
  color: #d02397;
}
.testimonials p{
  color: #0b3665;
}



/* GALLERY PAGE */
/* SECTION */
.Gallery-section {
    padding: 50px 20px;
}

.Gallery-section h2 {
    font-size: 2.2rem;
    color: #2c3e50;
    text-align: center;
}
/* our memories p */
.intro {
    text-align: center;
    margin: 20px auto 30px;
    color: #555;
    font-size: 1.1rem;
}

/* GRID */
.Gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ITEMS */
.Gallery-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.Gallery-item:hover {
    transform: translateY(-5px);
}

/* IMAGES */
.Gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

/* CAPTION */
.Gallery-item p {
    padding: 10px;
    font-size: 0.95rem;
    color: #444;
}

/* LIGHTBOX */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.lightbox img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


/* BLOG AND NEWS PAGE */
   /* MAIN SECTION */
.content-section {
    background: #f8fbff;
    padding: 80px 20px;
    font-family: Arial, sans-serif;
   
}

.container {
    max-width: 1200px;
    margin: auto;
}


/* TABS ;BLOG / NEWS */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 10px;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background: #e0eafc;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}

.tab-btn.active {
    background: #e24192;
    color: white;
}

/* GRID STYLING */
.grid {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr ));
    gap: 25px;
}

.grid.active {
    display: grid;
}

/* CARD */
.card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.card-content {
    padding: 20px;
}

.meta {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 10px;
}

.card h4 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.card p {
    font-size: 0.95rem;
    color: #666;
}

/* SOCIAL SHARE*/
.share {
    margin-top: 15px;
}

.share a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 0.85rem;
    color: #3498db;
}

/* NEWSLETTER*/
.newsletter {
    margin-top: 80px;
    background: linear-gradient(135deg, #e029a0, #ac8926);
    padding: 50px 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.newsletter h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.newsletter p {
    margin-bottom: 20px;
    color: #f4f7fb;
}

.newsletter input {
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
}

.newsletter button {
    padding: 12px 25px;
    border: none;
    background: #d21376;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}


   /* FADE ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}



/* GET INVOLVED PAGE */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* SECTION HEADER */
.section-header {
  text-align: center;
  margin: 40px 0;
}

.section-header h2 {
  font-size: 2.5rem;
  color: #2c3e50;
}

.section-header p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
  color: #555;
}

/* CARDS */
.involve-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin: 40px 0;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #27ae60;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

/* WHY SECTION */
.why-section {
  margin: 50px 0;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.why-section h3 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.why-section ul {
  padding-left: 20px;
}

.why-section li {
  margin-bottom: 8px;
}

/* STORY BOX */
.story-box {
  margin: 50px 0;
  background: #eafaf1;
  padding: 25px;
  border-left: 6px solid #27ae60;
  border-radius: 10px;
}

.story-box img {
  margin-top: 15px;
  border-radius: 10px;
}

/* CTA :Ready to make a diffarence*/
.cta-box {
  text-align: center;
  background:linear-gradient(135deg, #e029a0, #ac8926);
  color: white;
  padding: 40px 20px;
  border-radius: 15px;
  margin: 50px 0;
}
.cta-box P{
    color: #f4f7fb;

}

.cta-box h3 {
  font-size: 1.8rem;
}
.cta-box a{
  color:#120202;
  font-weight: bold;
  font-size:1.2em;
  text-decoration-line: none;
}

.cta-box .btn {
  background: white;
  color: #035333;
  margin-top: 15px;
}

.cta-box .btn:hover {
  background: #f1f1f1;
  color: #6d7816;
}

/* BUTTON :APPLICATION FORM */
#toggleButton {
  background: #d0259a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
  display: block;      
  margin-left: auto;   
  margin-right: auto;
}
div.color-h3{
  color: #2c3e50;
  justify-content: center;
  text-align: center;
}

#toggleButton:hover {
  background: #64561d;
}

/* POPUP FORM */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form-container {
  background: white;
  padding: 40px;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.form-container h2 {
  margin-bottom: 15px;
  color: #ae5b27;
}

/* FORM INPUTS */
.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

/* Submit Button */
.btn[type="submit"]{
  background: #ae5b27;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
}
.btn[type="submit"]:hover {
  background: #91218a;
}
/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  padding: 30PX;
}


/* DONATE PAGE */

/* be the light section */
.light-section{
  text-align: center;
  /* background-color: #e0c08f; */
}

.light-section h2{
  color: #0e0101;
  font-size: 40px;
}
.light-section p{
  padding:20px;
}

/* About Section */
.about { 
    background: rgb(231, 218, 164); padding: 60px 40px; border-radius: 10px; margin-top: -50px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); }

.about h2 { 
    color: #b22121; border-bottom: 7px solid #cd9745;
    display: flex;
    padding-bottom: 5px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
 }

/* Impact Grid */
.impact-grid { 
    display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    margin-top: 40px; }
.impact-card { 
    background: #fff; padding: 20px; 
    border: 1px solid #eee; border-radius: 8px; text-align: center; }

    .impact-card h3 { color: #ff5a5f; margin-top: 0; }



    /* donation */
.donate-section {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #f8fbff, #eef5ff);
}

.donate-section h1 {
  font-size: 2.5rem;
  color: #2c3e50;
}

.donate-section p {
  margin-bottom: 40px;
  color: #215faf;
}

/* CARD GRID */
.donate-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* CARD */
.donate-card {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.donate-card:hover {
  transform: translateY(-10px) scale(1.02);
}

/* IMAGE */
.donate-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 20px;
  
  text-align: center;
}

.card-content h2 {
  color: #3498db;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

/* BUTTON */
.card-content button {
  background: #16962b;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  
}

.card-content button:hover {
  background: #90b929;
}

/* HIDDEN DETAILS */
.details {
  display: none;
  margin-top: 15px;
  background: #6d81a5;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.method-box {
   background: white;
        padding: 10px 10px;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        text-align: center;
        justify-content: center;
        display: flex;
        max-width: 600px;
        
        transition: transform 0.3s ease;
        margin: 10px auto;
}
.method-box:hover {
        transform: translateY(-5px);}

.method-box p {
        font-size: 20px;
        font-weight: bold;
        color: #a3137f;
        margin: 0;}


/* CONTACT PAGE */
    /* HERO SECTION */
    .Hero {
      text-align: center;
      padding: 40px 20px;
      background: #795a05;
      color: white;
    }

    .Hero h1 {
      margin: 0;
      font-size: 36px;
    }

    .Hero p {
      margin-top: 10px;
      font-size: 16px;
      color: #f4f7fb ;
    }

    /* MAIN CONTAINER */
    .contact-container {
      display: flex;
      gap: 20px;
      max-width: 1100px;
      margin: 30px auto;
      padding: 20px;
      flex-wrap: wrap;
    }

    /* LEFT INFO */
    .contact-info {
      flex: 1;
      min-width: 280px;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .contact-info h2 {
      margin-top: 0;
      color:#a8117d;
    }

    .contact-info p {
      margin: 8px 0;
    }

    /* RIGHT FORM */
    .contact-form {
      flex: 2;
      min-width: 300px;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .form-title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bold;
      color:#a8117d;
    }

    .form-row {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }

    .form-column {
      flex: 1;
      min-width: 200px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
    }

    input:focus, textarea:focus {
      border-color: #2ecc71;
    }

    textarea {
      resize: none;
    }

    button {
      width: 100%;
      padding: 12px;
      background: #2ecc71;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: #27ae60;
    }

    /* MAP */
    .map {
      max-width: 1100px;
      margin: 20px auto;
      padding: 0 20px;
    }

    iframe {
      width: 100%;
      height: 300px;
      border: 0;
      border-radius: 12px;
    }

    /* for send a message form */
    @media (max-width: 768px) {
      .contact-container {
        flex-direction: column;
      }

      .form-row {
        flex-direction: column;
      }
    }


/* FOOTER */
footer {
  background:rgb(10, 97, 112);
  color: white;
  text-align: center;
  padding: 50px;
}
footer p{
    color: #f4f7fb;
}